.technicalDetail{
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}
table tr th td{
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}
.accordionDiv{
    margin-top: 50px !important;
}
