* {
  margin: 0;
  top: 0;
  left: 0;
  scroll-behavior: smooth;
}

.inputForm{
background-color: #DCDCDC !important;
height: 61px;
}
.discount{
  background-color: #DCDCDC !important;
}
.form-group{
  width: 491px;
}
.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.QuestrialFont{
  font-family: "Questrial";
}
.PoppinsFont{
  font-family: "Poppins";
}
.fontWeightMedium{
  font-weight: 400;
}
.NoLetterSpacing{
  letter-spacing: 0em;
}
/* .nav-tabs .nav-link.active{
  border-color: transparent  !important;
} */
.nav-link{
  color: #1E1E1E !important;
  font-weight: 4oo  !important;
}
.nav-link.active{
  border-bottom: 2px solid #ED8F03 !important;
  color:#ED8F03 !important;
}
.nav-tabs:hover .nav-link.active:hover{
  border-color: transparent  !important;
  border-bottom: 2px solid #ED8F03 !important;
  color:#ED8F03 !important;
}











